<div class="fish">
  <h2>
    <% if show_link %>
      <%= link_to fish.name, fish %>
    <% else %>
      <%= fish.name %>
    <% end %>
  </h2>
  <% if fish.image.present? %>
    <p >
      <%= image_tag fish.image.url %>
    </p>
  <% end %>
  <p>
    <b>Scientific Name: </b> <%= fish.scientific_name %>
  </p>
  <p>
    <b>Weight: </b> <%= fish.weight %>
  </p>
</div>